nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0;
  padding: 1rem;

  /* Cambiar color luego */
  background-color: #1a1a1a;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  min-width: 60rem;

  & a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--link-hover-color);
    }
  }
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.navbar-menus {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  margin: 0 0 0 5rem;

  transition: all 0.5s ease-in-out;
}

.navbar-menus > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0;
  transition: all 0.5s ease-in-out;

  & li > a {
    text-decoration: none;
    color: white;
    padding: 0 1rem;
    text-wrap: nowrap;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: var(--link-hover-color);
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    min-width: 0;
  }
}
