@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

:root {
  --link-hover-color: #ff9900;
  --link-hover-color-2: #ff6b6b;
}

body {
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  background-color: black;
  color: white;

  margin: 0;
}
